Repository CalebCyphers/the-empress-deck-tarot, pull requests merged in 2020-10, with the labels that each got.

#27 React bootstrap
  .gitignore
  docs/pull-request-template.md
  package-lock.json
  package.json
  public/index.html
  public/manifest.json
  public/robots.txt
  src/App/App.css
  src/App/App.js
  src/App/App.test.js
  src/DailyReading/DailyReading.css
  src/DailyReading/DailyReading.js
  src/DailyReading/DailyReading.test.js
  src/index.css
  src/index.js
  src/setupTests.js
Labels: DOM Update, enhancement, good first issue

#28 Daily reading
  docs/pull-request-template.md
  src/App/App.js
  src/DailyReading/DailyReading.css
  src/DailyReading/DailyReading.js
  src/Deck.js
  src/Loader/Loader.js
  src/Loader/Loader.test.js
Labels: Building an API, CSS, DOM Update, Error Handling, Express, Fetch, Heroku, backend, enhancement

#29 Reorganize
  package-lock.json
  package.json
  public/index.html
  src/App/App.js
  src/Deck.js
  src/NavBar/NavBar.js
  src/NavBar/NavBar.scss
  src/fetch/fetch-requests.js
Labels: DOM Update, Fetch, SASS, SCSS, documentation
