Repository CalebCyphers/the-empress-deck-tarot, pull requests merged in 2020-11, with the labels that each got.

#31 Testing cd
  src/App/App.js
  src/App/App.test.js
  src/DailyReading/DailyReading.test.js
Labels: Mock Data, async test, bug, help wanted, question, testing, unit test

#34 Testing cc
  src/App/App.test.js
  src/DailyReading/DailyReading.js
  src/DailyReading/DailyReading.test.js
  src/Loader/Loader.js
  src/Loader/Loader.test.js
Labels: Error Handling, Specification Adherence, async test, testing, unit test

#36 Card database
  package-lock.json
  package.json
  src/App/App.js
  src/App/App.test.js
  src/CardDatabase/CardDatabase.js
  src/CardDatabase/CardDatabase.scss
  src/CardDatabase/CardDatabase.test.js
  src/NavBar/NavBar.js
Labels: Interface, React, React/Project Architecture, Router, enhancement

#37 Database cd
  src/App/App.js
  src/CardDatabase/CardDatabase.js
  src/CardPage/CardPage.js
  src/CardPage/CardPage.scss
  src/CardPage/CardPage.test.js
  src/fetch/fetch-requests.js
Labels: API Calls, CardDatabase, Fetch, React, React/Project Architecture, documentation

#38 Database kj
  src/App/App.css
  src/App/App.js
  src/CardDatabase/CardDatabase.js
  src/CardDatabase/CardDatabase.scss
  src/CardPage/CardPage.js
  src/NavBar/NavBar.js
  src/NavBar/NavBar.scss
Labels: CSS, CardDatabase, Fetch, Router, SASS, SCSS, documentation

#40 Journal
  src/App/App.js
  src/DailyReading/DailyReading.js
  src/Journal/Journal.js
  src/Journal/Journal.test.js
  src/NavBar/NavBar.js
  src/ReflectionForm/ReflectionForm.js
  src/ReflectionForm/ReflectionForm.test.js
Labels: CSS, Interface, Local Storage, Persisting Data, React, Router, SASS, SCSS, bug, enhancement

#41 Update-Readme-cd
  README.md
Labels: readme

#42 Proptypes
  .vscode/launch.json
  src/App/App.js
  src/App/App.test.js
  src/CardDatabase/CardDatabase.js
  src/CardPage/CardPage.js
  src/DailyReading/DailyReading.js
  src/Journal/Journal.js
  src/Journal/Journal.scss
  src/Loader/Loader.js
  src/ReflectionForm/ReflectionForm.js
Labels: CardDatabase, Linting, bug, prop types

#43 Testing components cd
  package-lock.json
  package.json
  src/App/App.test.js
  src/CardDatabase/CardDatabase.js
  src/CardDatabase/CardDatabase.test.js
  src/CardPage/CardPage.js
  src/CardPage/CardPage.test.js
  src/Journal/Journal.js
  src/Journal/Journal.test.js
Labels: async test, testing, unit test

#44 Refactor kj
  package-lock.json
  package.json
  public/index.html
  src/App/App.js
  src/App/App.scss
  src/CardDatabase/CardDatabase.js
  src/CardDatabase/CardDatabase.scss
  src/CardPage/CardPage.js
  src/CardPage/CardPage.scss
  src/DailyReading/DailyReading.css
  src/DailyReading/DailyReading.js
  src/DailyReading/DailyReading.scss
  src/Journal/Journal.js
  src/Journal/Journal.scss
  src/NavBar/NavBar.js
  src/NavBar/NavBar.scss
  src/ReflectionForm/ReflectionForm.js
  src/ReflectionForm/ReflectionForm.scss
  src/index.js
Labels: CSS, Interface, SASS, SCSS, Specification Adherence, documentation, enhancement

#45 Fix typo that prevented compiling
  src/Journal/Journal.js
  src/ReflectionForm/ReflectionForm.js
Labels: bug

#46 Testing components 2 cd
  src/CardDatabase/CardDatabase.test.js
  src/CardPage/CardPage.test.js
  src/ReflectionForm/ReflectionForm.test.js
Labels: testing, unit test

#47 Fix typo
  src/DailyReading/DailyReading.js
Labels: bug

#49 Refactor tests to get them to pass
  src/CardDatabase/CardDatabase.test.js
  src/Journal/Journal.js
  src/Journal/Journal.test.js
  src/ReflectionForm/ReflectionForm.test.js
Labels: testing, unit test

#48 fix testing for new style adjustments
  src/App/App.test.js
  src/DailyReading/DailyReading.test.js
Labels: async test, bug, integration test, testing, unit test

#50 Refactor2 kj
  Procfile
  public/manifest.json
  src/App/App.js
  src/App/App.test.js
  src/CardDatabase/CardDatabase.js
  src/CardDatabase/CardDatabase.test.js
  src/DailyReading/DailyReading.test.js
  src/Journal/Journal.js
  src/Journal/Journal.test.js
  src/NavBar/NavBar.js
  src/ReflectionForm/ReflectionForm.test.js
Labels: bug
